* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.hidden {
  opacity: 0% !important;
  display: none !important;
}

img {
  max-width: 100%;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: .5em;
}

body main .popup-close-cash-draw {
  opacity: 100%;
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: #fe8081;
  width: 25vw;
  text-align: center;
  height: 25vh;
  display: -ms-grid;
  display: grid;
  padding: 4em;
  z-index: 5;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body main .popup-close-cash-draw h3 {
  font-size: 4rem;
  text-transform: uppercase;
}

body main .popup-close-cash-draw h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

body main .popup-close-cash-draw h2 span {
  font-size: 2rem;
}

body main .popup-close-cash-draw button {
  background-color: #fc0e0e;
  color: #FFF;
  font-weight: bold;
  font-size: 3rem;
}

body main .popup-item-lookup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 5rem;
  background-color: #e9e9ed;
  border: 2px solid #000;
  height: 70vh;
  width: 40vw;
  z-index: 5;
  padding: .2em;
}

body main .popup-item-lookup .item-lookup-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 7fr 1fr;
      grid-template-rows: 1fr 7fr 1fr;
  height: 100%;
}

body main .popup-item-lookup .item-lookup-main input {
  padding: 1em;
  font-size: 2rem;
}

body main .popup-item-lookup .item-lookup-main .items {
  margin: .5em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1em;
          column-gap: 1em;
  overflow-y: scroll;
}

body main .popup-item-lookup .item-lookup-main .items .lookup-item img {
  border-radius: 0.3em;
  height: 200px;
  width: 100%;
}

body main .popup-item-lookup .item-lookup-main .items .lookup-item .item-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

body main .popup-item-lookup .item-lookup-main .items .lookup-item .add-item button {
  width: 100%;
  background-color: #737373;
}

body main button {
  border-radius: 0.3em;
  border-width: 4px;
  font-weight: bold;
  font-size: 1.7rem;
  cursor: pointer;
}

body main p, body main input {
  font-size: 1.5rem;
}

body main .main_pos_body {
  -webkit-filter: blur(0);
          filter: blur(0);
  min-height: 95vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr 2fr;
      grid-template-columns: 1fr 2fr 1fr 2fr;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

body main .main_pos_body .helper-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

body main .main_pos_body .helper-buttons button {
  background-color: #737373;
  color: #FFF;
}

body main .main_pos_body .helper-buttons .deli-menu-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / 7;
}

body main .main_pos_body .helper-buttons .modify-food-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

body main .main_pos_body .main-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

body main .main_pos_body .main-buttons button {
  background-color: #ebe549;
}

body main .main_pos_body .main-buttons .red-background {
  background-color: #b50c11;
  color: #FFF;
}

body main .main_pos_body .main-buttons .light-gray-background {
  background-color: #e6e6e6;
}

body main .main_pos_body .main-buttons .light-blue-background {
  background-color: #118ab9;
  color: #FFF;
}

body main .main_pos_body .payment-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

body main .main_pos_body .payment-buttons button {
  background-color: #197e31;
  color: #FFF;
}

body main .main_pos_body .pos-sale-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
}

body main .main_pos_body .pos-sale-info .item-table table {
  overflow-y: scroll;
}

body main .main_pos_body .pos-sale-info .item-table table tr {
  background-color: #fefefe;
}

body main .main_pos_body .pos-sale-info .item-table table tr th {
  font-size: 2rem;
  padding: 0 .5em;
  border: 2px solid #9e9892;
  background-color: #d4cfc7;
  font-weight: 300;
}

body main .main_pos_body .pos-sale-info .item-table table tr .bigger-th {
  width: 13vw;
}

body main .main_pos_body .pos-sale-info .item-table table tr td {
  font-size: 2rem;
  padding: 0.2em 0.5em;
  border: 2px solid #a9a9a9;
  font-size: 1.6rem;
  overflow-y: scroll;
}

body main .main_pos_body .pos-sale-info .item-table table tr:nth-child(even) {
  background: #e5f6fc;
}

body main .main_pos_body .pos-sale-info .total {
  display: -ms-grid;
  display: grid;
}

body main .main_pos_body .pos-sale-info .total input {
  font-size: 4rem;
  padding: .5em;
  margin: .2em 0;
}
/*# sourceMappingURL=style.css.map */